*{
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background-color:black;
}
.container{
    background-color: black;
    padding: 3em 2.5em;
    position:relative;
    border-radius: 0.62em;
    border: 1.5px solid #39FF14;
    margin: 10%;
}
h2{
    font-size: 1.8em;
    color:#39FF14;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 1.3em;
}
.wrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;

}

label{
    display: block;
    margin-bottom: 0.5em;
    font-weight: 500;
    color: #39FF14;
}
input{
    position: relative;
    font-size: 1.1em;
    width: 100%;
    padding: 0.5em;
    border-radius: 0.2em;
    border: 1.5px solid #39FF14;
    color: white;
    background-color: black;
    outline: none;
}
#error-msg{
    text-align: center;
    margin-top: 1.25em;
    color: red;
}

.area{
    background: black;  
    background: -webkit-linear-gradient(to left, #39FF14, black);  
    width: 100%;
    height:100%;
    
   
}
